*.lo
*.la
.libs
.deps
.dirstamp
Makefile
Makefile.in
/config.*
/m4
/missing
/libtool
/ltmain.sh
/configure
/blitzortung-tracker-cpp.wpu
/build-stamp
/source/blitzortung-data
/source/blitzortung-tracker
/tests/test-lib
/tests/cppunit-lib-results.xml
/depcomp
/install-sh
/stamp-h1
/debian/files
/debian/blitzortung-tracker
/debian/blitzortung-tracker/*
/debian/blitzortung-tracker.*.debhelper
/debian/blitzortung-tracker.debhelper.log
/debian/blitzortung-tracker.substvars
