Source: blitzortung-tracker
Section: misc
Priority: extra
Maintainer: Andreas Wuerl <awuerl@gmx.net>
Build-Depends: debhelper (>= 7), build-essential, libboost-dev (>= 1.34.1), liblog4cpp5-dev (>=1.0), libcppunit-dev (>=1.12.1)
Standards-Version: 3.8.1
Homepage: http://www.blitzortung.org/

Package: blitzortung-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: blitzortung-tracker
Replaces: blitzortung-tracker
Description: blitzortung.org tracker software
 <insert long description, indented with spaces>

